name: Validate Binary Compatibility

on:
  workflow_call:
    inputs:
      ref:
        type: string
        required: false
        default: ''
      java:
        type: string
        required: false
        default: 8

jobs:
  cmd:
    name: JDK ${{ inputs.java }}
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          # we don't know what commit the last tag was it's safer to get entire repo so previousStableVersion resolves
          fetch-depth: 0
          ref: ${{ inputs.ref }}

      - name: Coursier Cache
        id: coursier-cache
        uses: coursier/cache-action@v6.3

      - name: Install Adoptium Temurin OpenJDK
        uses: coursier/setup-action@v1.2.0-M3
        with:
          jvm: adoptium:${{ inputs.java }}

      - name: Binary Compatibility
        run: sbt +mimaReportBinaryIssues

      - name: Cleanup before cache
        shell: bash
        run: |
          find $HOME/Library/Caches/Coursier/v1        -name "ivydata-*.properties" -delete || true
          find $HOME/.ivy2/cache                       -name "ivydata-*.properties" -delete || true
          find $HOME/.cache/coursier/v1                -name "ivydata-*.properties" -delete || true
          find $HOME/.sbt                              -name "*.lock"               -delete || true
