name: Gradle Wrapper Validation

on:
  workflow_call:
    inputs:
      ref:
        type: string
        required: false
        default: ''

jobs:
  cmd:
    name: Gradle Wrapper Validation
    runs-on: ubuntu-20.04
    steps:
      - name: Block deprecated repos in /etc/hosts
        run: |
          sudo echo "127.0.0.1 repo.scala-sbt.org" | sudo tee -a /etc/hosts
          sudo echo "127.0.0.1 repo.typesafe.com" | sudo tee -a /etc/hosts
      - name: Checkout
        uses: actions/checkout@v4
        with:
          # we don't know what commit the last tag was it's safer to get entire repo so previousStableVersion resolves
          fetch-depth: 0
          ref: ${{ inputs.ref }}

      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v1
